body{
	background-color: #f4f3ef;
	font-family: sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}
 
header{
	display: flex;
	height: 70px;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
}

.logo img{
	height: 80px;
	margin-right: 10px;
}

nav a{
	font-weight: 600;
	padding-right: 30px;
}

nav a:hover{
	color: #205375;
}

/*--------------------------------Cabeza----------------------------------------*/

.titulo{
	font-family:Trebuchet MS;
	font-size: 32px;
	margin-left: 22px;
	color: #FEFBE7;
}

.informacionbody p{
	margin-left: 50px;
	margin-right: 55px;
	font-family:Century Gothic;
	font-size: 20px;
	color: #FEFBE7;
	line-height: 1.6;
}

.informacionbody{
	background: #364C63;
	margin-left: 40px;
}

.imgdefv img{
	width:333px;
	height: 205px;
}

/*---------------------------------------------contacto----------------------------------------------*/

.map img{
	width: 400px;
	height: 255px;
	border-radius: 12px;
	float: left;
	margin-right: 20px;
	margin-left:45px;
	margin-top:35px;
}

.redes img{
	margin-right: 10px;
	margin-top:5px;
	width:30px;
	height: 25px;
}	

.redesinf{
	font-family:Century Gothic;
	font-size: 20px;
	color: #F7F7F7;
	line-height: 1.5;
}

.direc{
	margin-left: 25px;
	margin-top: 25px;
	margin-right: 55px;
	font-family:Century Gothic;
	font-size: 21px;
	color:#F7F7F7;
	line-height: 1.6;
}
	
.informacionbody2{
	background: #F3B340;
	margin-left: 40px;
	margin-top: 45px;
	margin-bottom: 85px;
	width: 1309px;
	height: 400px;
}

/*---------------------------------------------pie de paginas----------------------------------------------*/

footer{
	display: flex;
	height: 25px;
	width: 1299px;
	justify-content: space-around;
	align-items: center;
	padding: 25px;
}

footer nav a{
	float: center;
	font-weight: 550;
	padding-right: 120px;
}